<div mat-dialog-content>
    <ul>
        <li>
            <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.name">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="data.description"></textarea>
            </mat-form-field>
        </li>
    </ul>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Ok</button>
</div>
