<div *ngIf="column" class="flex flex-row m-3 text-customWhite text-center h-screen">
    
    <!-- Header stuff. -->
    <div class="flex flex-col">
        <div class="m-2 border-b-4">
            <h1>{{column.name}}</h1>
        </div>
        <!-- Boxes. -->
        <div class="flex flex-col text-left">
            <app-box *ngFor="let box of column.boxes" [boxId]="box.uuid"></app-box>
        </div>
    </div>
    <!-- Remove column button. -->
    <button mat-icon-button class="deleteButton" (click)="deleteColumn()">
        <mat-icon>remove</mat-icon>
    </button>
</div>