<div    *ngIf="column" 
        class="flex flex-row m-3 max-w-[400px] text-customWhite text-center h-screen">
    
    <!-- Header stuff. -->
    <div class="flex flex-col">
        <div class="m-2 border-b-4">
            <input  class="bg-transparent text-center text-2xl my-2 w-[240px]" 
                    type="text" 
                    [(ngModel)]="column.name"
                    (change)="onTitleChange()">
        </div>
        <!-- Boxes. -->
        <div class="flex flex-col text-left">
            <app-box    *ngFor="let box of column.boxes" 
                        [boxId]="box.uuid" 
                        cdkDrag
                        class="my-box">
            </app-box>
        </div>
    </div>
    <!-- Remove column button. -->
    <button mat-icon-button class="topMarginButton" (click)="deleteColumn()">
        <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button class="topMarginButton" (click)="createBox()">
        <mat-icon>add</mat-icon>

    </button>
</div>