<div mat-dialog-content class="">
    <ul>
        <li>
            <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.name">
            </mat-form-field>
        </li>
         <li>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="data.description">
            </mat-form-field>
         </li>
    </ul>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Ok</button>
</div>
